<launch>
    <!-- Play rosbag files with clock synchronization -->
    <node name="rosbag_player" pkg="rosbag" type="play" 
      args="$(env HOME)/Downloads/Data_2025-06-23-13-54-24.bag $(env HOME)/Desktop/23Jun_GoPro.bag --loop --clock"
      output="screen" />
    
    <!-- Run tank detection node -->
    <node name="colordetection" pkg="rov_tf_tree" type="color_gopro.py" 
          output="screen" />
</launch>
